{% extends "base.html" %}

{% block content %}
<form method="get">
  <div class="input-group">
    <input type="text" id="word" name="word" class="form-control col-sm-9" placeholder="Search" />
    <span class="input-group-btn">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </span>
  </div>
</form>
{% endblock content %}

{% block javascript %}
<script>

  $(function() {

     $("#word").autocomplete({
      source: function(request, response){
        console.log("calling api");
        $.ajax({
            url: "/search/",
            type: "GET",
            data: {
                word: request.term
            },
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            success: function (msg) {
                        console.log("building list");
                        var l = [];
                        if(Object.keys(msg).length != 0){
                            for (let value of Object.values(msg)) {
                              l.push(value['word']);
                            }
                        } else{ l.push('No results...') }
                        response(l);
                        console.log(l);
            },
            error: function (msg) {
               alert(msg.status + ' ' + msg.statusText);
            }
        });
      },
    });

  });
</script>
{% endblock javascript %}